<a href="https://colab.research.google.com/github/dineshed16/dineshed16/blob/main/Python%20Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int (input())
i=0
while i<=a:
  if(i%2==0):
    print("*", end=" ")
  if i%2==1:
    print(i, end=" ")
  i=i+1

6
* 1 * 3 * 5 *

In [ ]:
a=int(input())
count=1
sum=1
while count<=a:
  prod=count*1
  sum=sum*prod
  count=count+1
print(sum)

6
720

In [ ]:
a=int(input())
for i in range(50,a):
  print(i)

55
50
51
52
53
54

In [ ]:
a=int (input())
if a>12 or a<1:
  print("Error")
if a==1:
  print("31")
if a==2:
  print("28")
if a>7 and a<=12:
  if a%2==0:
    print("31")
  else:
    print("30")
if a>=3 and a<=7:
  if a%2==0:
    print("30")
  else:
    print("31")

9
30

In [ ]:
a= int (input())
i=1
while i<=a:
  print("Dinesh", end=" ")
  i=i+1
  j=1
  while j<=a-1:
    print("wins", end=" ")
    j=j+1
  print()

4
Dinesh wins wins wins
Dinesh wins wins wins
Dinesh wins wins wins
Dinesh wins wins wins

In [ ]:
a= int (intput())
if(a%2==0):
  print("Even")
else:
  print("Odd")

In [ ]:
i=1
while i<6:
  if i==3:
    break
  print(i)
  i=i+1

1
2

In [ ]:
for x in range(2,10,3):
  print(x)

2
5
8

In [ ]:
a="dinesh,elumalai"
print(a[::-1])

ialamule,hsenid

In [ ]:
a= str (input())
n= int (input())
if n==1:
  print(a.capitalize())
if n==2:
  print(a.lower())
if n==3:
  print(a.upper())

dineSh elUmaLai
1
Dinesh elumalai

In [ ]:
a= int (input())
if a>12 or a<1:
  print("Error")
if a==2:
  print("28")
if a==1:
  print("31")
if a>=3 and a<=7:
  if a%2==1:
    print("31")
  else:
    print("30")
if a>=8 and a<=12:
  if a%2==0:
    print("31")
  else:
    print("30")

5
31

In [ ]:
for i in range(10,5,-1):
  print(i)

10
9
8
7
6

In [ ]:
a=['dinesh','aaryan',"janhavi"]
for i in range(len(a)):
  print(a[i], len(a[i]),i)

dinesh 6 0
aaryan 6 1
janhavi 7 2

In [ ]:
a=str(input().split())
print(a)

2 3 4 5 6 7
['2', '3', '4', '5', '6', '7']

In [ ]:
a=input()
for i in range(0,len(a)):
  if i<len(a)-1:
      print(a[i], end=",")
  if i==len(a)-1:
    print(a[i])

guvi
g,u,v,i

In [ ]:
a=int(input())
count=1
while count<=10:
  pro=count*a;
  if count==10:
    print(pro, end=".")
  if count<10:
    print(pro, end=", ")
  count+=1

6
6, 12, 18, 24, 30, 36, 42, 48, 54, 60.

In [ ]:
a=str (input())
c=int (input())
i=1
while i<=c:
  print(a, end=" ")
  i+=1
  j=1
  while j<c:
    print("wins", end=" ")
    j+=1
  print()

Dinesh
5
Dinesh  wins wins wins wins
Dinesh  wins wins wins wins
Dinesh  wins wins wins wins
Dinesh  wins wins wins wins
Dinesh  wins wins wins wins

In [ ]:
a=str (input())
for i in range(0,len(a)):
  print(a[i], i)

dinesh
d 0
i 1
n 2
e 3
s 4
h 5

In [ ]:
a= int (input())
for i in range(1,a):
  if i%3!=0 and i%5!=0:
       print(i)
print("End")

20
1
2
4
7
8
11
13
14
16
17
19
End

In [ ]:
j=1
while j<=4:
  j+=1
  i=1
  while i<=4:
    print("#", end=" ")
    i+=1
  print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(4):
  for j in range(i+1):
    print("#", end=" ")
  print()

#
# #
# # #
# # # #

In [ ]:
for i in range(1,5):
  for j in range(i,5):
    print(j, end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:
a= "dinesh"
for i in range(0,len(a)):
  for j in range(len(a)-i):
    print(a[j], end=" ")
  print()

d i n e s h
d i n e s
d i n e
d i n
d i
d

In [ ]:
N = int(input())
i=1
while i<4:
  print(i*N, end=" ")
  i+=1

2
2 4 6

In [ ]:
a= (input())
for i in range(0,len(a)):
  for j in range(0,i+1):
    print(a[j], end=" ")
  for j in range(0,len(a)-1-i):
      print(".", end=" ")
  print()

dinesh
d . . . . .
d i . . . .
d i n . . .
d i n e . .
d i n e s .
d i n e s h

In [ ]:
from array import *

vals = array('i', [3,5,6,8,9])
print(vals)

array('i', [3, 5, 6, 8, 9])

In [ ]:
from array import *
arr = array('i', [])
n=int(input("enter the length of array "))
for i in range(n):
  x= int(input("enter the values "))
  arr.append(x)
print(arr)
for e in arr:
  print(e)
for s in

enter the length of array 4
enter the values 5
enter the values 1
enter the values 8
enter the values 9
array('i', [5, 1, 8, 9])
5
1
8
9

In [ ]:
n=int(input())
a=n
count=0
while n>0:
    n=n//10
    count+=1
b=count
while a>0:
  x=a//(10**(b-1))
  a=a%(10**(b-1))
  print(x, end=" ")
  b-=1
  for i in x:
    if x%2==0:
      print(x, end=" ")
    print()
    else:
      print(x, end=" ")

SyntaxError: ignored

In [ ]:
def binary_search(item_list,item):
  
  first=0
  last=len(item_list)-1
  found= False 
  while( first<=last and not found):
    mid=(first+last)//2
    if item_list[mid] == True:
      found = True
    else:
      if item < item_list[mid]:
        last = mid-1
      else:
        first = mid+1
  return found

In [ ]:
x= lambda a,b :a+b+10
print(x(10,5))

20

In [ ]:
def myfunc(n):
  return lambda a:a*n
myvalue = myfunc(5)
print(myvalue(10))

50

In [ ]:
ages = [5,12,18,23,55,69]
def myfunc(x):
  if x<18:
    return False
  else:
    return True
adults = filter(myfunc,ages)
for x in adults:
  print(x)

18
23
55
69

In [ ]:
def myfunc(n):
  return n.upper()
x=map(myfunc, ("cat", "doc"))
print(x)
print(list(x))

<map object at 0x7f098bd41850>
['CAT', 'DOC']

In [ ]:
def func_tables(n):
  i=1
  while i<=5:
    prod=i*n
    print(prod)
    i+=1

func_tables(6)

6
12
18
24
30

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
f = open("mylib.py", "x")

In [ ]:
import mylib
a=mylib.func1("Dinesh")
print(a)

Hello,Dinesh
None

In [ ]:
f = open("mylib1.py", "x")

In [ ]:
import mylib1
mylib1.func2(5,6)
print(a)

None

In [ ]:
import pandas as new
s=new.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
import pandas as pd
import numpy as np
data=np.array(['a','s','d'])
s=pd.Series(data,index=[1,2,3])
print(s)

1    a
2    s
3    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data={'a':1,'b':2,'c':3}
s=pd.Series(data)
print(s)

a    1
b    2
c    3
dtype: int64

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df.shape)

(5, 1)

In [ ]:
import pandas as pd
data = {'Name':['Tom','Dom','Jack'], 'Age':[12,13,14]}
df = pd.DataFrame(data, index=[1,2,3])
print (df)

   Name  Age
1   Tom   12
2   Dom   13
3  Jack   14

In [ ]:
import pandas as pd
name=list(map(str,input()))
age=list(map(int,input()))
weight=list(map(int,input()))
data={'Name':name, 'Age':age, 'weight': weight}
df=pd.DataFrame(data)
print(df)

din
12
40

ValueError: ignored

In [ ]:
import pandas as pd
data = [{'a':1,'b':2},{'a':5,'b':10}]
df1 = pd.DataFrame(data, index=['first','second'],columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [ ]:
import pandas as pd
d = {'one':pd.Series([1,2,3,],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df['two'])

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [ ]:
import pandas as pd
s=pd.read_csv("/content/Pandas.csv")
print(s)

   Si.no Name  Age City  Salary
0      1  Din   12   LA   12000
1      2  Tim   12   PH   13000
2      3  Jin   13   KL   14000
3      4  Joe   14   CA   13000

In [ ]:
import pandas as pd
df=pd.read_csv("/content/baseball.csv")
print(df)

       id     player  year  stint team  lg    g  ...  bb  so  ibb  hbp  sh  sf  gidp
0   88641  womacto01  2006      2  CHN  NL   19  ...   4   4    0    0   3   0     0
1   88643  schilcu01  2006      1  BOS  AL   31  ...   0   1    0    0   0   0     0
2   88645  myersmi01  2006      1  NYA  AL   62  ...   0   0    0    0   0   0     0
3   88649  helliri01  2006      1  MIL  NL   20  ...   0   2    0    0   0   0     0
4   88650  johnsra05  2006      1  NYA  AL   33  ...   0   4    0    0   0   0     0
..    ...        ...   ...    ...  ...  ..  ...  ...  ..  ..  ...  ...  ..  ..   ...
95  89525  benitar01  2007      2  FLO  NL   34  ...   0   0    0    0   0   0     0
96  89526  benitar01  2007      1  SFN  NL   19  ...   0   0    0    0   0   0     0
97  89530  ausmubr01  2007      1  HOU  NL  117  ...  37  74    3    6   4   1    11
98  89533   aloumo01  2007      1  NYN  NL   87  ...  27  30    5    2   0   3    13
99  89534  alomasa02  2007      1  NYN  NL    8  ...   0   3    0    0   0   0     0

[100 rows x 23 columns]

In [ ]:
class Calc:
  def __init__(self):
    self.
  def sum(self,x,y):
    z=x+y
    print(z)
  def sub(self,x,y):
    z=x-y
    print(z)

pro = Calc()
pro.sum(5,6)
pro.sub(6,5)

11
1

In [ ]:
import json
x='{"name":"dinesh", "age":30}'
y=json.loads(x)
print(y)
print(y["age"])

{'name': 'dinesh', 'age': 30}
30

In [ ]:
import json
x='{"name":"dinesh", "age":30}'
y=json.dumps(x)
print(y)

"{\"name\":\"dinesh\", \"age\":30}"

In [ ]:
new = {
       'name': 'dinesh',
       'r.no': 123,
       'dept': 'DS'
}

In [ ]:
import pandas as pd
df = pd.read_csv('/pokemon_data.csv')
print(df)

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df.sort_values(['Name','Type 1'],ascending=[0,0])

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [ ]:
import pymongo

from pymongo import MongoClient


client = pymongo.MongoClient("mongodb+srv://ed:12341234@cluster0.sur8x.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.get_database('demo1')

records= db.guvi1

data= [
       {'name':'dinesh','age':24},
       {'name':'jan','age':24},
        {'name':'sara','age':22},
       {'name':'love','age':22},

]
x=records.insert_many(data)
myquery = {'age':22}
mydoc = records.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61739f81edc73778f31427c3'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('61739f81edc73778f31427c4'), 'id': 2, 'name': 'lov', 'age': 22}
{'_id': ObjectId('61739fb0edc73778f31427c9'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('61739fb0edc73778f31427ca'), 'id': 2, 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a11bedc73778f31427cf'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a11bedc73778f31427d0'), 'id': 2, 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a16dedc73778f31427d5'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a16dedc73778f31427d6'), 'id': 2, 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a1fcedc73778f31427db'), 'name': 'sara', 'age': 22}
{'_id': 2, 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a39bedc73778f31427e0'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a3a9edc73778f31427e5'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a3bcedc73778f31427ea'), 'name': 'sara', 'age': 22}
{'_id': 3, 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a409edc73778f31427ef'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a409edc73778f31427f0'), 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a4f0edc73778f31427f5'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a4f0edc73778f31427f6'), 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a5e0edc73778f31427fb'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a5e0edc73778f31427fc'), 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a5ecedc73778f3142801'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a5ecedc73778f3142802'), 'name': 'lov', 'age': 22}
{'_id': ObjectId('6173a5f4edc73778f3142807'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('6173a5f4edc73778f3142808'), 'name': 'lov', 'age': 22}
{'_id': ObjectId('61765b37dd61fead69987133'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('61765ba5dd61fead69987137'), 'name': 'sara', 'age': 22}
{'_id': ObjectId('61765ba5dd61fead69987138'), 'name': 'love', 'age': 22}

In [ ]:
import pymongo

from pymongo import MongoClient


client = pymongo.MongoClient("mongodb+srv://ed:12341234@cluster0.sur8x.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.get_database('demo2')

records= db.guvi2
mylist=[]
dic={}
a=int(input("enter 1 to add new entry or enter 2 for modification: "))

if a>2 &a<0:
  print("please enter 1 or 2")

def details():
  name=input("enter your name: ")
  mob= int(input("enter mob no: "))
  email_id= input("enter email id: ")
  if '@gmail.com' in email_id:
    print('email check ok')
  else:
    email_id=input("reenter email id: ")
  dic1={'name':name, 'mob':mob, 'email':email_id}
  dic=dic1

if a==1:
  details()
  mylist.append(dic)
  db=client.get_database('demo1')
  records=db.guvi1
  records.insert_one(mylist)

ConfigurationError: ignored

In [ ]:
records.collection.count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

0

In [ ]:
a=int(input("enter 1 to add new entry or enter 2 for modification: "))

if a>2 &a<0:
  print("please enter 1 or 2")

def details():
  name=input("enter your name: ")
  mob= int(input("enter mob no: "))
  email_id= input("enter email id: ")

if a==1:
  details()

enter 1 to add new entry or enter 2 for modification: 2

In [ ]:
N = int(input())
M = int(input())
diff= (N-M)
if diff%2==0:
    print('even')
else:
    print('odd')

5
5
even

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)